.delivery-banner{
    display: block;
    background-image: url("/assets/delivery-banner.jpg");
    height: 240px;
    width: 100%;
    margin-bottom: 40px;
    background-size: cover;
    background-position: 69%  center;
}