<section class="container">
    <div class="row fruits-banner">
        <div class="col-12 col-sm-5 col-md-4 ">
            <img class="img-fluid" src="assets/fruits-logo.png">
        </div>
        <div class="col-12 col-sm-7 col-md-7">
            <h1>The Most Cool Fruits Store</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa veniam unde omnis sunt nemo, corrupti porro officiis ullam, esse temporibus voluptatibus, est minus. Tempora earum aut qui animi fugit?
            </p>
        </div>
    </div>
</section>