.fruits-footer {
    background-color: #3a3f46;
    color: white;
}

.fruits-footer .info{   
    color: #afb0b1;
}

.fruits-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.fruits-footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.fruits-footer .logo{
    margin-top: 10px;
}

.fruits-footer .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

.fruits-footer a {
    color: #d2d1d1;
    text-decoration: none;
}

.fruits-footer a:hover,
.fruits-footer a:focus {
    text-decoration: none;
    color: white;
}

.fruits-footer .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
    display: flex;
}

.fruits-footer .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

.fruits-footer .second-bar a:hover {
    text-decoration: none;
}

.fruits-footer .social-icons {
    float:right;
}


.fruits-footer .facebook:hover .fab {
    color: #0077e2;
}

.fruits-footer .google:hover .fab {
    color: #ef1a1a;
}

.fruits-footer .twitter:hover .fab{
    color: #00aced;
}

@media screen and (max-width: 767px) {
    .fruits-footer {
        text-align: center;
    }

    .fruits-footer .info{
        text-align: center;
    }
}

